<% layout('/layouts/boilerplate.ejs')%>
<div class="row">
    <h1 class="text-center">
        New Campground
    </h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control"  type="text" id="title" name="campground[title]" placeholder="Enter the name of your campground">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input  class="form-control"  type="text" id="location" name="campground[location]" placeholder="Where is your campground located?">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]"placeholder="0.00" aria-label="Price" aria-describedby="price">
                </div>
            </div> 
            <div class="mb-3">
                <label class="form-label" for="location">Image</label>
                <input  class="form-control"  type="text" id="image" name="campground[image]" placeholder="Image URL">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Description</label>
                <textarea  class="form-control"  type="text" id="description" name="campground[description]" placeholder="Where is your campground located?"> </textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Add Campground</button>
            </div>
        </form>
    </div>
</div>
    